.intro__list {
    margin: 33px auto 0 148px;
    padding: 0;
}

@media screen and (max-width: 1024px){
    .intro__list {
        margin-left: 48px;
    }

}
@media screen and (max-width: 768px){
    .intro__list {
        margin-left: 24px;
        margin-right: 24px;
    }

}

@media screen and (max-width: 670px){
    .intro__list {
        margin-left: 16px;
        margin-right: 16px;
    }

}